:root{
    --logo:#feca07;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Microsoft JhengHei, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* 地圖RWD設定 */
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    /* height: 0; */
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#navbarNavAltMarkup .nav-link{
    color: var(--light)
}

#navbarNavAltMarkup .nav-link.active{
    color: var(--logo);
}





/* Header */

#warp {
    background-image: url(./img/banner.jpg);
    /* background-size: cover; */
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-fluid {
    z-index: -10;
}

.navbar {
    background: rgba(0, 0, 0, 0.8);
}

#logo {
    height: 90px;
}

#banner {
    /* background-size: cover; */
    height: 100vh;
    /* margin-top: -90px;
    padding-top: 90px; */
    background-color: rgba(250, 243, 183, 0.151)
    /* background-position: center 0; */
    /* background-repeat: no-repeat; */
}

#banner h2 {
    font-size: 3rem;
    text-shadow: 0 3px 5px #151B21;
    flex: 1 0 60vw;
}

#banner h1 {
    font-size: 2rem;
    text-shadow: 0 3px 5px #151B21;
    flex: 1 0 60vw;
}

@media screen and (min-width:321px) {
    #banner h2 {
        font-size: 3.5rem;
    }
}


/* (orientation:landscape)手機橫式 */

@media screen and (orientation:landscape) {
    #banner h2 {
        font-size: 3rem;
    }
    #banner h1 {
        font-size: 2rem;
    }
}


/* (orientation:portrait)手機直式 */

@media screen and (min-width:415px) and (orientation:portrait) {
    #banner h2 {
        font-size: 4.5rem;
    }
    #banner h1 {
        font-size: 3rem;
    }
}

@media screen and (min-width:992px) {
    #banner h2 {
        font-size: 5rem;
    }
    #banner h1 {
        font-size: 3rem;
    }
}

@media screen and (min-width:1200px) {
    #banner h2 {
        font-size: 7rem;
    }
    #banner h1 {
        font-size: 4.5rem;
    }
}

.specialImg {
    height: 300px;
    background-position: center center;
    background-size: cover;
}


.overTop {
    background-image: url(./img/menuItem.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    margin-top: -30px;
    flex: 1;
    filter: sepia(30%)
}

/* 動畫效果 */
.animated{
    opacity: 0;
    transform: translateY(150px);
    transition: all 2s;
}

.fadeIn{
    opacity: 1;
    transform: translate(0px,0px);
}